@import "~normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Montserrat';
}

a {
  text-decoration: none;
  color: initial;
}

html {
  height: 100%;
  font-weight: 500;

  --color-black: #1B2335;
  --color-grey: #C0C5CF;

  --mentalion-primary: #FFA400;
  --mentalion-secondary: #FAC083;
  --mentalion-background: #FFFAF2;
  --mentalion-gradient: linear-gradient(135deg, #FFA400 0%, #FA4C52 100%);

  --ecochon-primary: #FA4C52;
  --ecochon-secondary: #FD808F;
  --ecochon-background: #FFF4F5;
  --ecochon-gradient: linear-gradient(135deg, #FE919A 0%, #FA4C52 100%);
  
  --finourson-primary: #2D6AEB;
  --finourson-secondary: #4D84FE;
  --finourson-background: #F8FBFF;
  --finourson-gradient: linear-gradient(135deg, #739EFD 0%, #2D6AEB 100%);
}

body {
  height: 100%;
  background-color: #dedede;
}

input:focus,
textarea:focus,
button:focus  {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-black);
}